/* сброс стилей браузера */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, main, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

/* body {
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
*/

body {
	overflow-x: hidden; /* скрывает горизонтальную прокрутку необязателен */
	font-family: 'Tahoma', 'Verdana', 'Helvetica', 'sans-serif';
	font-size: 11px;
	color: #333333;
	cursor: auto;
}

h1 {
	/* font-family: 'Open Sans', serif; */
	font-family: 'Tahoma', 'Verdana', 'Helvetica', 'sans-serif';
	font-weight: 400;
	color: #000;
	font-size: 14px;
	padding: 30px 0;
	text-align: center;
}
@media (max-width: 767px) {
	h1 {
		font-size: 24px;
	}
}

a {
	text-decoration: none;
}

select {
	font-size: 11px;
}

.header {
	/* background: #2F3753; */
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 160px;
}
@media (max-width: 767px) {
	.header {
		justify-content: center;
		height: 120px;
	}
}

.title {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80px;
}

.menu {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.wrapper {
	/* задается для всех элементов страницы, которые размещаются по ширине в заданном диапазоне */
	position: relative;
	/*	max-width: 960px; /* задает максимальный размер содержимого окна по ширине */
	margin: 0px auto; /* центрирование содержимого окна */
	background: white;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.container {
	background: white;
	padding: 0px 15px;
	margin: 0px auto; /* центрируем */
	margin-top: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}
@media (max-width: 767px) {
	.container {
		padding: 0px 5px;
		width: auto;
		margin-top: 160px;
	}
}

.button_section {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.catalog_section {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
}

.catalog {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.button {
	background: #1B0B8C;
	color: #fff;
	border-radius: 3px;
	/* text-transform: uppercase; */
	text-transform: none;
	/* font-weight: 300; */
	font-size: 11px;
	cursor: pointer;
	border: 0;
	display: flex;
 	justify-content: center;
	align-items: center;
	height: 30px;
	margin: 10px 10px;
}
@media (max-width: 767px) {
	.button {
		height: 40px;
		margin: 5px 10px;
	}
}

.button:hover {
	background: #317FE7;
	-webkit-transition: all 0.2s ease;
}

.w1 {
	width: 100px;
}

.w2 {
	width: 150px;
}



.operations_section {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 50px;
}

.docs {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	margin: 10px;
}

.operations {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	margin: 10px;
}


.select {
	width: 400px;
	border-radius: 3px;
	margin: 20px;
}


.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	z-index: 8;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.3s ease 0s;
}

.popup:target {
	opacity: 1;
	visibility: visible;
}

/*
.popup:target .popup_content {
	opacity: 1;
	transform: translate(0px, 0px);
}
*/

.popup_body {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
}

.popup_content {
	border-radius: 5px;
	background-color: #fff;
	color: #000;
	max-width: 800px;
	padding: 30px;
	z-index: 10;
	position: relative;
	font-size: 11px;
	/*
	transition: all 0.3s ease 0s;
	opacity: 0;
	transform: translate(0px, -100%);
	*/
}
@media (max-width: 767px) {
	.popup_content {
		max-width: 500px;
	}
}

.popup_area {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 5;
}

.popup_title {
	font-size: 40px;
	margin: 0px 0px 1em 0px;
	text-align: center;
}
@media (max-width: 767px) {
	.popup_title {
		font-size: 24px;
	}
}


.popup_text {

}

.lable {
	padding: 0;
}

.input {
	font-size: 11px;
	width: 550px;	
	border: 1px solid grey;
	border-radius: 3px;
}
@media (max-width: 767px) {
	.input {
		width: 300px;
	}
}

.input_q {
	width: 36px;
	margin-left: 3px;
}

.q {
	width: 80px;
}

.none {
	display: none;
}

.hiddenID {
	display: none;
}

.inp {
	font-family: 'Tahoma', 'Verdana', 'Helvetica', 'sans-serif';
	font-size: 11px;
	margin: 0 3px;
	border: 1px solid grey;
}

.hidden {
	visibility: hidden;
}

.b1 {
	border: 1px solid red;
}
.b2 {
	border: 2px solid blue;
}
.b3 {
	border: 3px solid yellow;
}.bgrey {
	border: 1px solid grey;
}

.button_on {
	background: #317FE7;
}